.login{
    margin-top: 15%;
    border-radius: 20px;
    background-color: rgba($color: #1352af, $alpha: 0.8);
}
ion-row {
  justify-content: center;
  align-content: center;
}
ion-col{
  h1{
    text-align: center;
  }
}