<ion-header>
  <ion-toolbar>
    <ion-title>
      
      Customer
    </ion-title>
    <ion-button slot='end' (click)="close()" fill='clear' shape="round" style="background-color: transparent;"> <ion-icon name='close-circle' style="zoom:2.0;" ></ion-icon> </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    ></formly-form>
  </form>
  <ion-button (click)="add()" *ngIf="!isEdit && !isView " expand="block" fill="clear" shape="round">
    Add
  </ion-button>
  <ion-button (click)="update()" *ngIf="isEdit && !isView" expand="block" fill="clear" shape="round">
    Update
  </ion-button>
  <ion-button (click)="del()" *ngIf="isDelete" expand="block" fill="clear" shape="round">
    Delete
  </ion-button>
  <ion-button (click)="close()" expand="block" fill="clear" shape="round"> Cancel </ion-button>
</ion-content>
