<ion-header>
  <ion-toolbar>
    <ion-title>stockIn</ion-title>
    <ion-button
      slot="end"
      (click)="close()"
      fill="clear"
      shape="round"
      style="background-color: transparent"
    >
      <ion-icon name="close-circle" style="zoom: 2"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Stock In Date</ion-label>
              <ion-datetime
                displayFormat="DD - MM - YYYY"
                [(ngModel)]="stockInDate"
              ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Vouncher No</ion-label>
              <ion-input [(ngModel)]="vouncher"></ion-input>
              <ion-icon name="eye" slot="start"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Supplier</ion-label>
              <ionic-selectable
                [(ngModel)]="selectedSupplier"
                itemValueField="id"
                itemTextField="name"
                [items]="allSupplier"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="ChangeSupplier($event)"
              >
                <ng-template ionicSelectableItemTemplate let-supplier="item">
                  <ion-card>
                    <ion-item>
                      <ion-icon name="person" slot="start"></ion-icon>
                      <ion-label>{{supplier.name}}</ion-label>
                    </ion-item>
                    <ion-card-content>
                      Company Name:{{supplier.companyName}}<br />
                      Phone No:{{supplier.phone}}<br />
                    </ion-card-content>
                  </ion-card>
                </ng-template>
              </ionic-selectable>
              <ion-icon name="person" slot="start"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Warehouse</ion-label>
              <ionic-selectable
                [(ngModel)]="selectedWarehouse"
                itemValueField="id"
                itemTextField="name"
                [items]="allWarehouse"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                (onChange)="ChangeWarehouse($event)"
              >
                <ng-template ionicSelectableItemTemplate let-warehouse="item">
                  <ion-card>
                    <ion-item>
                      <ion-icon name="location" slot="start"></ion-icon>
                      <ion-label>{{warehouse.name}}</ion-label>
                    </ion-item>
                    <ion-card-content>
                      {{warehouse.location}}<br />
                    </ion-card-content>
                  </ion-card>
                </ng-template>
              </ionic-selectable>
              <ion-icon name="location" slot="start"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Item</ion-label>
              <ionic-selectable
                [(ngModel)]="selectedItem"
                itemValueField="id"
                itemTextField="name"
                [items]="allItem"
                [hasVirtualScroll]="true"
                [canSearch]="true"
                closeButtonText="Close"
                (onChange)="ChangeItem($event)"
              >
                <ng-template ionicSelectableItemTemplate let-item="item">
                  <ion-card class="selectCard">
                    <ion-item>
                      <ion-icon name="pricetag" slot="start"></ion-icon>
                      <ion-label>{{item.name}}</ion-label>
                    </ion-item>
                    <ion-card-content>
                      {{item.category.name}}<br />
                    </ion-card-content>
                  </ion-card>
                </ng-template>
              </ionic-selectable>
              <ion-icon name="pricetag" slot="start"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card *ngIf="this.selectedItem">
              <ion-item>
                <ion-icon name="pricetag" slot="start"></ion-icon>
                <ion-label>Category</ion-label>
              </ion-item>
              <ion-card-content>
                <ion-item>
                  <ion-label>{{this.selectedItem.category.name }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card *ngIf="this.selectedItem">
              <ion-item>
                <ion-icon name="pricetag" slot="start"></ion-icon>
                <ion-label>Name</ion-label>
              </ion-item>
              <ion-card-content>
                <ion-item>
                  <ion-label>{{this.selectedItem.name }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item *ngIf="this.selectedItem">
              <ion-label position="floating">Amount</ion-label>
              <ion-input [(ngModel)]="amount" type="number"></ion-input>
              <ion-icon name="pricetags" slot="start"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item *ngIf="this.selectedItem">
              <ion-label position="floating">Price</ion-label>
              <ion-input [(ngModel)]="price" type="number"></ion-input>
              <ion-icon name="cash" slot="start"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button
              *ngIf="this.selectedItem"
              #addButton
              expand="full"
              (click)="addCart()"
            >
              <ion-icon slot="add" name="star"></ion-icon>Add Cart</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="8">
        <ion-row>
          <ion-button
            *ngIf="!isEdit && !isView "
            size="large"
            shape="round"
            (click)="save()"
          >
            Save
          </ion-button>

          <ion-button
            *ngIf="isEdit && !isView"
            size="large"
            shape="round"
            (click)="update()"
          >
            Update
          </ion-button>
          <ion-button
            *ngIf="isDelete"
            size="large"
            shape="round"
            (click)="del()"
          >
            Delete
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item *ngIf="this.rows.length>0">
              <ion-label position="floating">Pay Amount</ion-label>
              <ion-input [(ngModel)]="payAmount" type="number"></ion-input>
              <ion-icon name="pricetags" slot="start"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4">
            <ion-item *ngIf="this.rows.length>0">
              <ion-label position="floating">Total Amount</ion-label>
              <ion-input [(ngModel)]="totalAmount" type="number" disabled ></ion-input>
              <ion-icon name="pricetags" slot="start"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ngx-datatable
          class="material fullscreen"
          [rows]="rows"
          [columnMode]="'force'"
          style="top: 52px"
          [rowHeight]="'auto'"
          [headerHeight]="50"
          [footerHeight]="0"
          [limit]="5"
          [footerHeight]="50"
        >
          <ngx-datatable-column name="No"></ngx-datatable-column>
          <ngx-datatable-column
            name="Warehouse"
            prop="warehouse.name"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Item"
            prop="item.name"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Category"
            prop="item.category.name"
          ></ngx-datatable-column>
          <ngx-datatable-column name="Amount"></ngx-datatable-column>
          <ngx-datatable-column name="Price"></ngx-datatable-column>
          <ngx-datatable-column name="Total"></ngx-datatable-column>
          <ngx-datatable-column name="Actions" sortable="false">
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <ion-button size="small" (click)="viewRow(row)"
                ><ion-icon name="eye-outline"></ion-icon
              ></ion-button>
              <ion-button size="small" (click)="delRow(row)"
                ><ion-icon name="trash-outline"> </ion-icon
              ></ion-button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
